.site-header {
    position: fixed;
    width: 100%;
    height: 80px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: $site-header-background;
    box-shadow: $header-box-shadow;
    z-index: 1001;
}

.site-branding {   
    float: left;
    width: span(9);
    h2 {
        margin: 6px 0 0 0;
    }
}

/* desktop navigation */
.header-nav {  
    display: none;
    text-align: right;   
    a {
        padding: 0 7px;
        font-weight: bold;
        text-shadow: $text-shadow;
    }
}

.header-addon {   
    float: right;
    width: span(3);
    ul li {
        float: right;
    }
}

.header-nav,
.header-addon {
    ul {
        margin: 0;
        padding: 0;
    }   
}

.mb-nav-container {   
    width: 200px;
    height: 100%;
    padding-top: 35px;
    background: $mobile-container-background;
    position: fixed;
    top: 80px;
    right: -200px; 
    z-index: 1001;
    transition: .5s ease-out all;   
}

.open {
    right: 0;
}

.mobile-nav {
    ul {
        margin: 0;
        padding: 0;
    } 
    li {
        display: block;
        padding: 10px 0 7px 15px;
        border-bottom: 1px solid $mobile-nav-border-color;
        &:last-of-type {
            border-bottom: none;
        }
        &:hover {
            background: $mobile-nav-li-hover-background;            
        }
    }
    a {
        font-size: 1rem;
        font-weight: bold;
        color: $white;
        &:hover {
            color: $mobile-nav-link-hover-color;            
        }       
    }
}